<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/style.css" type="text/css" rel="stylesheet"/>
        <title>Accueil</title>
    </head>
    <body>
        <h1>WEEKLY SCHEDULE</h1>
        <h2>A propos</h2>
        <p>...........</p>
        <h2>Menu</h2>
        <ul>
            <a href="/addPlan">Ajout au planning</a>
            <a href="/viewPlan">Voir la list des emplois</a>
        </ul>
    </body>
</html>
