<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/styles/style.css" type="text/css" rel="stylesheet"/>
        <title>Accueil</title>
    </head>
    <body>
        <div id="container">
            <h1 >WEEKLY SCHEDULE</h1>
            <h2>A propos</h2>
            <p> l'API "Weekly Schedule" offre un moyen efficace de faciliter l'organisation et la planification des cours pour les étudiants,
                tout en contribuant à améliorer l'efficacité et l'expérience utilisateur de l'application dans son ensemble.</p>
            <h2>Menu</h2>
                <ul>
                    <li><a href="/addPlan">Ajout au planning</a></li>
                    <li><a href="/viewPlan">Voir la list des emplois</a></li>
                </ul>
        </div>
    </body>
</html>
